{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title> Delete Classroom</title>
{% endblock title %}
{% block content %}
    <div>
        <a href={% url 'class' %} class="btn btn-primary m-3">Back</a>
    </div>
    </div>
    <form  action="" method="post" class="text-dark col-6 mx-auto"> {% csrf_token %}
        <h2 class=" text-success">Are You Sure You Want To Delete Class?</h2>
        <div class='d-flex justify-content-center'>
            <input type="submit", value="Confirm" class="btn btn-danger m-1 col-5">
        </div>     
    </form>
{% endblock content%}