{% extends "base.html" %}
{% load static %}
{% block title %}
    <title> Class App</title>
{% endblock title %}

{% block content %}
{% block header %}
{% endblock header %}
    <div class="card bg-dark text-white" >
        <img class=" card-img img-responsive" style='height: 600px' src="{% static 'images/apple.jpg' %}"  alt="Card img cap">
        <div class='card-img-overlay'>
            <div class="row d-flex">
                <h1 class="display-3 text-white card-text col-11" >Class Manager</h1>
                <p class="col-1"><a href={% url 'logout' %} class='text-light btn btn-danger'>logout</a></p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class='d-flex'>
                <div class='col-3'>
                </div>
                <div class="col-9">
                    <div class='d-flex flex-column align-items-center'>
                        <h5 class="text-center text-white card-text" > Welcome {{ request.user }}</h5>
                        <a href={% url 'class' %} class='text-light btn btn-warning col-3 m-2'><h3>Go to class</h3></a>
                        <a href={% url 'newclass' %} class='text-light btn btn-success col-3'> <h3>+ create class</h3> </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>   
{% endblock content %}

