
{% extends "base.html" %}
{% load static %}
{% block title %}
    <title> Students</title>
{% endblock title %}

{% block content %}
<nav class='navbar'>
    <form class='form-in-line'> 
        <a href={% url 'newstudent' %} class='btn btn-success'>Add Student </a>
        {% if pk %}
            <a href={% url 'editclass' pk %} class='btn btn-info'>Update Class Info</a>
            <a href={% url 'deleteclass' pk %} class='btn btn-danger'>Delete Class</a>
            <a href={% url 'class' %} class='btn btn-warning'>Back</a>
            <a href='#' class='btn btn-danger'>log out</a>
        {% else %}
            <a href={% url 'class' %} class='btn btn-warning'>Back</a>
            <a href={% url 'editclass' class_pk %} class='btn btn-info'>Update Class Info</a>
            <a href={% url 'deleteclass' class_pk %} class='btn btn-danger'>Delete Class</a>
            <a href='#' class='btn btn-danger'>log out</a>
        {% endif %}
    </form>
</nav>
{% block header %}
    <h1 class="text-success text-center"> Welcome to {{class}} </h1>
{% endblock header %}
<div class="container "> 
    <div class="row mx-auto">
{% for student in students %}

        <div class="card col-2 m-2 ">
            <div class='row card-img-top justify-content-center'>
                <div class='col-6'>
                    <img class=" img-fluid rounded-circle" src= "{% static 'images/me.jpg' %}" alt="Card img cap">
                </div>
            </div>
            <div class="card-body ">
                <h6 class="card-title">{{ student}}</h6>
                <p class='class-text'>this is a student of this class</p>
                <a href={% url 'studentdetails' student.pk %} class='btn btn-primary'>view student details</a>
            </div> 
        </div>  
{% empty %}
    <h5 class='text-danger text-center'> No Student Currently In This Class </h5>
    <h5 class='text-danger text-center'> Add Student To Class</h5>
{% endfor %}
    </div>
</div>
{% endblock content %}