{% extends "base.html" %}
{% block title %}
    <title>Add Subject</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="head">
        <a href='{{ request.META.HTTP_REFERER }}' class="btn btn-primary m-3">Back</a>
    </div>
    </div>
    <h2 class="text-center text-success m-2">Add Subject</h2>
    <form  action='{{ request.META.HTTP_REFERER }}' method="post" class="text-dark col-3 mx-auto"> {% csrf_token %}
        {{ form|crispy }}
        <input type="submit", name='save' value="Save" class="btn btn-success m-1">
    </form>
{% endblock content%}