{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Update Subject</title>
{% endblock title %}
{% block content %}
    <div>
        <a href='{{ request.META.HTTP_REFERER }}' class="btn btn-primary m-3">Back</a>
    </div>
    </div>
    <h2 class="text-center text-success m-2">Update {{subject.name}}</h2>
    <form  action={% url 'studentdetails' subject.pk %} method="post" class="text-dark col-3 mx-auto"> {% csrf_token %}
        {{ form|crispy }}
        <input type="submit", name="update" value="Update" class="btn btn-success m-1">
    </form>
{% endblock content%}