{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title> Update Student Info</title>
{% endblock title %}
{% block content %}
    <div>
        <a href={% url 'studentdetails' student.pk %} class="btn btn-primary m-3">Back</a>
    </div>
    </div>
    <h2 class="text-center text-success m-2">Update Student Info </h2>
    <form  action={% url 'studentdetails' student.pk %}  method="post" class="text-dark col-3 mx-auto"> {% csrf_token %}
        {{ form|crispy }}
        <input type="submit", name= "changes" value="add changes" class="btn btn-success m-1">
    </form>
{% endblock content%}