h1 {
    color: rgb(11, 17, 2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 40%;
}

#newhead{
    color: azure;
    padding-left: 40%;
    font-size: 20px;

}
p {
    color: rgb(85, 6, 6);
}

.newstudent {
    padding-block: 2px;
    box-sizing: border-box;
    width: fit-content;
    height: 60%;
    padding-inline: 2%;
    background-color: rgb(85, 110, 156);
    border-radius: 10px;
}

div.head {
    box-sizing: border-box;
    background-color: rgb(12, 12, 170);
    padding-block: 2px;
}
.back{
    color: rgb(253, 253, 253);
}

a.ref {
    color: white;
}

.class-entry{
    color: white;
    background-color: rgb(7, 15, 1);
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
   
}

.class-name {
    margin-left: 30%;
}

.form-teacher{
    margin-left: 20%;
}

#none{
    color: red;
    text-align: center;
    font-size: xx-large;
}

.add-student{
    
    color: rgb(1, 5, 8);
    text-decoration: none;
    float: left;
    border-style: solid;
    border-width: .05px;
}
.back{
    margin-left: 10px;
    color: rgb(1, 5, 8); 
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}
